@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Bem vindo ao Portal Solidariedade.</h1>

        <div>
            <img src="~/img/underConstruction.png" />
        </div>

    </div>
